* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}

.bodyContent {
    background-image: url('../images/blue.jpg');
}

main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    /* min-height: calc(100vh - 211px - 58px); */
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* position: fixed;
    z-index: 1; */
}

@media(max-width:768px) {
    header {
        padding: 30px 20px;
    }
    header h1 {
        font-size: 36px;
        margin-bottom: 22px;
    }
    header p {
        font-size: 18px;
    }
    main {
        width: 100vw;
        padding: 20px;
    }
    article {
        margin-bottom: 16px;
        font-size: 14px;
    }
    article h3 {
        margin: 10px 0 20px 0;
    }
    article p {
        margin-top: 16px;
        line-height: 20px;
    }
}

.about-section {
    background: url(../images/aboutus.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    opacity: 0.9;
    ;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
    opacity: 1;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.text {
    font-size: 20px;
    color: #080707;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0 0 30px 0 grey;
}

.form-control {
    width: 40%;
}

.contact {
    box-shadow: 0 0 20px 0 grey;
    float: right;
    margin-bottom: 5px;
}

.btn {
    width: 100%;
    background-color: rgb(7, 118, 221);
    color: whitesmoke;
    border-radius: 5px;
}

#navbar {
    background-color: rgba(20, 203, 228, 0.8);
    color: black;
    font-family: cursive;
}

.logo {
    margin: 25px;
    height: 40px;
    border-radius: 50%;
}

.navigation {
    overflow: hidden;
}

.navigation a {
    float: left;
    color: rgb(7, 118, 221);
    text-align: justify;
    padding: 20px 20px;
    font-size: 17px;
}


/* Change the color of links during hover */

.navigation a:hover {
    background-color: white;
    color: black;
}


/* Add a color to the active/current link */

.navigation a.active {
    background-color: black;
    color: white;
}

.brand {
    font-size: 30px;
    color: rgb(7, 118, 221);
    display: inline-block;
}

.topbar-col {
    display: inline;
    padding-left: 2%;
    float: right;
}