html {
    scroll-behavior: smooth;
}

body {
    font-family: cursive;
}

#navbar {
    background-color: rgba(20, 203, 228, 0.8);
    color: black;
    font-family: cursive;
}

.logo {
    margin: 25px;
    height: 40px;
    border-radius: 50%;
}

.navigation {
    overflow: hidden;
}

.navigation a {
    float: left;
    color: rgb(7, 118, 221);
    text-align: justify;
    padding: 20px 20px;
    font-size: 17px;
}


/* Change the color of links during hover */

.navigation a:hover {
    background-color: white;
    color: black;
}


/* Add a color to the active/current link */

.navigation a.active {
    background-color: black;
    color: white;
}

.brand {
    font-size: 30px;
    color: rgb(7, 118, 221);
    display: inline-block;
}

.topbar-col {
    display: inline;
    padding-left: 2%;
    float: right;
}

#servicesDescription {
    background-color: whitesmoke;
    border-top: 6px solid grey;
    border-bottom: 6px solid rgb(7, 118, 221);
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

#servicesDescription h1 {
    color: rgb(7, 118, 221);
    text-align: center;
}

#servicesOffered {
    font-weight: bold;
    text-align: center;
}

#servicesOffered ul li {
    display: block;
}

#carouselServices {
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 grey;
    max-height: 100vh;
    margin-left: 3%;
    margin-right: 3%;
}

#carouselServices img {
    height: 70vh;
}

#descriptioncarousel {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px 0 rgb(7, 118, 221);
    border-radius: 40px;
    font-family: cursive;
}

#ceocomment {
    font-family: fantasy;
}

#ceocomment img {
    border-radius: 50%;
}

form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: transparent;
    box-shadow: 0 0 20px 0 rgb(7, 118, 221);
    float: left;
    margin-left: 2%;
}

label {
    font-size: 20px;
    font-weight: bold;
}

#emphasis {
    color: rgb(7, 118, 221);
}

#hireServiceTitle {
    text-align: center;
}

#hireService {
    background-image: url(../images/services.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    margin-top: 3%;
    text-align: left;
}

#hireServiceContent {
    margin-top: 3%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 3%;
    padding-bottom: 20px;
    color: white;
}

#hireServicesButton {
    box-shadow: 0 0 20px 0 rgb(7, 118, 221);
    cursor: pointer;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#hireServicesButton:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#customerdetailsForm {
    display: none;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgb(7, 118, 221);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: rgba(7, 118, 221, 0.705);
}

.form-control:hover,
.form-check-label:hover,
input:hover::placeholder {
    color: rgb(7, 118, 221);
}

.form-group input:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 rgb(7, 118, 221);
    color: rgb(7, 118, 221);
}

.footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    width: 100%;
    /* position: fixed;
    z-index: 1; */
}

#serviceOrdered {
    display: none;
    float: left;
}

#orderDetails {
    text-align: left;
    align-items: left;
}

#serviceorderedTable {
    float: left;
}