html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: rgba(20, 203, 228, 0.8);
    color: black;
    font-family: cursive;
}

.navigation {
    overflow: hidden;
}

.navigation a {
    float: left;
    color: rgb(7, 118, 221);
    text-align: justify;
    padding: 20px 20px;
    font-size: 17px;
}


/* Change the color of links during hover */

.navigation a:hover {
    background-color: white;
    color: black;
}


/* Add a color to the active/current link */

.navigation a.active {
    background-color: black;
    color: white;
}

.brand {
    font-size: 30px;
    color: rgb(7, 118, 221);
    display: inline-block;
}

.topbar-col {
    display: inline;
    padding-left: 2%;
    float: right;
}