html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: rgba(20, 203, 228, 0.8);
    color: black;
    font-family: cursive;
}

.navigation {
    overflow: hidden;
}

.navigation a {
    float: left;
    color: rgb(7, 118, 221);
    text-align: justify;
    padding: 20px 20px;
    font-size: 17px;
}


/* Change the color of links during hover */

.navigation a:hover {
    background-color: white;
    color: black;
}


/* Add a color to the active/current link */

.navigation a.active {
    background-color: black;
    color: white;
}

.brand {
    font-size: 30px;
    color: rgb(7, 118, 221);
    display: inline-block;
}

.topbar-col {
    display: inline;
    padding-left: 2%;
    float: right;
}

#header2 {
    background-image: url(../images/homebackground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    text-align: center;
    color: white;
    padding-top: 5%;
}

#header2 h1 {
    font-size: 60px;
}

#header2 img {
    border: 4px solid black;
    border-radius: 30%;
}

#mouse-click {
    padding-top: 2.2%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-55px);
    }
    60% {
        transform: translateX(-45px);
    }
}